<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solarsystemguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JupiterMenu"></activity>
        <activity android:name=".EarthLiveTest" />
        <activity android:name=".EarthDetails" />
        <activity android:name=".EarthMenu" />
        <activity android:name=".MarsResearchMissions" />
        <activity android:name=".MarsDetails" />
        <activity android:name=".MarsMenu" />
        <activity android:name=".VenusResearchMissions" />
        <activity android:name=".VenusDetails" />
        <activity android:name=".VenusMenu" />
        <activity android:name=".MercuryResearchMissions" />
        <activity android:name=".MercuryDetails" />
        <activity android:name=".MercuryMenu" />
        <activity android:name=".SunResearchMissions" />
        <activity android:name=".SunDetails" />
        <activity android:name=".SunMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>